

<form #form="ngForm" >
  <ion-grid>
    <ion-row color="primary" justify-content-center>
      <ion-col align-self-center size-md="8" size-lg="8" size-xs="8">
        <div padding>

          <ion-item>
            <ion-label>Cliente</ion-label>
            <ionic-selectable [ngModelOptions]="{standalone: true}" [(ngModel)]="cliente"  [items]="clientes" itemValueField="id" itemTextField="name"
              [canSearch]="true" (onChange)="clienteChange($event)">
            </ionic-selectable>
          </ion-item>

<!--           <ion-item>
            <ion-label>País</ion-label>
            <ion-select (ionChange)="paisChanged($event)" value="CR" okText="Ok" cancelText="Cancelar">
              <ion-select-option value="CR">Costa Rica</ion-select-option>
              <ion-select-option value="MX">México</ion-select-option>
            </ion-select>
          </ion-item> -->

        </div>
        <div padding>

          <input style="display: none" accept=".csv" type="file" (change)="onFileChanged($event)" #fileInput>
          <ion-button *ngIf="this.boton1" size="small" type="submit" expand="block" slot="end"
            (click)="fileInput.click()">
            Cargar
            <ion-icon name="cloud-upload"></ion-icon>
          </ion-button>

          <ion-button *ngIf="this.boton2" color="success" size="small" type="submit" expand="block"
            (click)="validardata()">
            Validar
          </ion-button>

          <ion-button *ngIf="this.boton3" color="success" size="small" type="submit" expand="block"
            (click)="salvardata()">
            Salvar
          </ion-button>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>

<ion-content>


  <ion-grid class="ion-text-center">

    <ion-row class="ion-margin">
      <ion-col>
        <ion-title>
          <ion-text color="default">
            Collection customer / users
          </ion-text>
        </ion-title>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin">
      <ion-col>
        <ion-title>
        <ion-text color="danger" text-wrap>
          {{this.check}}
        </ion-text>
        </ion-title>
      </ion-col>

    </ion-row>



    <ion-row class="header-row">
      <ion-col>
        <ion-text>Usuario</ion-text>
      </ion-col>

      <ion-col>
        <ion-text>Categoría</ion-text>
      </ion-col>

      <ion-col>
        <ion-text>Password</ion-text>
      </ion-col>

      <ion-col>
        <ion-text>Status</ion-text>
      </ion-col>

    </ion-row>


    <ion-row class="header-text"  *ngFor="let carga of this.carga">

      <ion-col>
        <ion-text>
          {{carga.userId}}
        </ion-text>
      </ion-col>

      
      <ion-col>
        <ion-text>
          {{carga.category}}
        </ion-text>
      </ion-col>

      <ion-col>
        <ion-text>
          {{carga.password}}
        </ion-text>
      </ion-col>



      <ion-col>
        <ion-text>
           {{carga.status}}
        </ion-text>
      </ion-col>

    </ion-row>

  </ion-grid>
</ion-content>