

<ion-content class="form-content">

  <div class="form-container">

    <!-- CARD -->
    <ion-card class="form-card">

      <ion-card-header>

        <ion-card-title>
          Información del cliente
        </ion-card-title>

        <ion-card-subtitle>
          Complete los datos para crear el cliente
        </ion-card-subtitle>

      </ion-card-header>


      <ion-card-content>

        <ion-list lines="none">

          <ion-item>
            <ion-label position="stacked">Código Cliente</ion-label>
            <ion-input [(ngModel)]="newcode"></ion-input>
          </ion-item>


          <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input [(ngModel)]="newname"></ion-input>
          </ion-item>


          <ion-item>
            <ion-label position="stacked">País</ion-label>
            <ion-input [(ngModel)]="newpais"></ion-input>
          </ion-item>


          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input [(ngModel)]="newemail"></ion-input>
          </ion-item>


          <ion-item>
            <ion-label position="stacked">Latitud</ion-label>
            <ion-input [(ngModel)]="latitud"></ion-input>
          </ion-item>


          <ion-item>
            <ion-label position="stacked">Longitud</ion-label>
            <ion-input [(ngModel)]="longitud"></ion-input>
          </ion-item>


          <ion-item>
            <ion-label position="stacked">Status</ion-label>

            <ion-select [(ngModel)]="status">

              <ion-select-option value="Activo">
                Activo
              </ion-select-option>

              <ion-select-option value="Inactivo">
                Inactivo
              </ion-select-option>

            </ion-select>

          </ion-item>

        </ion-list>

      </ion-card-content>

        <ion-button
    expand="block"
    (click)="postConfirm()"
    class="ion-margin-top ion-margin-bottom">

    Guardar Cliente

  </ion-button>

    </ion-card>

  </div>




</ion-content>


<!-- FOOTER -->
<ion-footer>

  <ion-toolbar>

    <ion-button expand="block" (click)="postConfirm()">

      Guardar Cliente

    </ion-button>

  </ion-toolbar>

</ion-footer>


