<ion-app>

  <ion-split-pane contentId="main-content" >
    <!-- SIDEBAR -->
     <!-- *ngIf="showMenu" -->
    <ion-menu contentId="main-content" type="overlay" class="menu-dark" >
      <ion-content>
        <!-- LOGO -->
        <div class="menu-header">
          <img src="assets/logo.jpeg" class="logo">
          <p class="subtitle">Admin Dashboard</p>
        </div>

        <!-- MENU -->
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected" class="menu-item">
              <ion-icon slot="start" [name]="p.icon">
              </ion-icon>
              <ion-label>
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>


    <!-- MAIN CONTENT -->
    <div class="main-area" id="main-content">

      <!-- TOP HEADER -->
      <ion-header>

        <ion-toolbar class="main-toolbar">

          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>

          <ion-title>Dashboard</ion-title>

          <ion-buttons slot="end">

<!--             <ion-button>
              <ion-icon name="notifications-outline"></ion-icon>
            </ion-button> -->

            <ion-button (click)="logout()" color="primary">
              <ion-icon name="exit-outline"></ion-icon>
            </ion-button>

          </ion-buttons>

        </ion-toolbar>

      </ion-header>


      <!-- ROUTER CONTENT -->
      <ion-content>

        <ion-router-outlet></ion-router-outlet>

      </ion-content>

    </div>

  </ion-split-pane>

</ion-app>